 #state-ceturb-bus-info md-list-item.wrap-hours {
	 -ms-flex-wrap: wrap;
	     flex-wrap: wrap;
 }

#state-ceturb-bus-info md-list {
	padding: 1px 0;
}

#state-ceturb-bus-info md-list-item.itinerario i {
	color: #c86673;
}

#state-ceturb-bus-info .list-note-subheader {
	font-size: 0.8em;
	opacity: 0.8;
}


#state-ceturb-bus-info .wrap-hours .hour {
	 flex: 0 1 51px;
 }

#state-ceturb-bus-info .wrap-hours {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    padding: 10px 0;
	justify-content: center;
}

#state-ceturb-bus-info .line-notes {
	margin-right: 20px;
}

#state-ceturb-bus-info .line-notes-title {
	color: #c86673;
}

#state-ceturb-bus-info .perdeu-busao {
	color: #afafaf;
}

#bus-info-buttons md-icon[md-font-icon] {
    font-size: 24px;
    color: #fff;
}

.bus-info-title {
    padding: 3px 0;
    display: block;
}