<ion-view>
	<ion-nav-title>
		<span>Despesas</span>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
			<i class="ion-android-arrow-back"></i>
		</a>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
	
	</ion-nav-buttons>
	<spinner ng-if="uiState.loading"></spinner>
	<md-button id="btn-graph" class="md-fab md-mini" ng-click="vm.toggleChart()">
		<i class="fa fa-compress" ng-if="vm.showChart"></i>
		<i class="fa fa-expand" ng-if="!vm.showChart"></i>
	</md-button>
	<ion-content id="expenses-component">
		<div class="expenses-content" ng-if="vm.expenses">
			<div id="doughnut" ng-if="vm.showChart">
				<canvas class="chart chart-doughnut" chart-data="::vm.chart.values" chart-labels="::vm.chart.labels" chart-colors="::vm.chart.colors">
				</canvas>
			</div>
			<md-list class="summary">
				<md-subheader class="summary-header md-no-sticky">
					<div>Total:
						<span class="summary-header-total"> {{::vm.expenses.total | currency}}</span>
					</div>
					 <md-button class="md-icon-button summary-header-sort-button" ng-class="{pad: !vm.showChart}" ng-click="vm.toggleSort()">
						<i class="fa fa-sort-amount-desc" ng-if="vm.sortDesc"></i>
						<i class="fa fa-sort-amount-asc" ng-if="!vm.sortDesc"></i>
					</md-button>
				</md-subheader>
				<md-list-item class="md-2-line expense" ng-repeat="expense in vm.expenses.items" ng-class="{labeled: !vm.showChart }" ng-style="{'border-left': '20px solid {{expense.color}}'}">
					<div class="md-list-item-text">
						<h3 class="expense-label">{{::expense.label}}</h3>
						<p md-colors="{color: 'accent'}">{{::expense.value | currency}}</p>
					</div>
					<div class="expense-percentage" md-colors="{color: 'accent'}">{{::expense.percentage}}%</div>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</div>
		<error-message error="uiState.error"></error-message>
	</ion-content>
</ion-view>